{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navigation.inc.html.twig' %}
    {% include 'body.header.inc.html.twig' %}

<div class="col-lg-10 col-md-10">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-link"></i>
                </div>
                <div class="col-xs-9 text-right">
{{ titre }}
                </div>
            </div>
        </div>
        
        <div class="panel-body">


            <div class="row">
                <div class="col-lg-12">

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_rest(form) }}
<button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}
                
                
                </div>
            </div>
        </div>
    </div>
</div>

    {% include 'body.footer.inc.html.twig' %}
{% endblock %}