<div class="btn-group">
    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-gear"></i> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ path('view', {id : link.id}) }}"><i class="fa fa-book fa-fw"></i> Consulter</a>
        </li>
        <li><a href="{{ path('edit', {id : link.id}) }}"><i class="fa fa-edit fa-fw"></i> Modifier</a>
        </li>
        <li><a href="#"><i class="fa fa-times fa-fw"></i> Supprimer</a>
        </li>
    </ul>
</div>
